footer
  .container.text-center
    p.float-left Built by Emily, Mymy and Ian for MLH's To the Moon and Hack 2020.
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Original Project
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
