extends layout

block content
  h1 Muscle Math
  p.lead A hackathon BMI tracker for astronauts
  hr
  .row
    .col-md-6
      h2 BMI Tracker
      p The main function of this webb app is a BMI tracker for astronauts. It was motivated by the issue that outerspace has a lot of undesirable impacts on the human body. A user can input a history of their weight and height to get a visual representation of the changes in BMI over time.
      p
        a.btn.btn-raised(href='/input', role='button') Enter your details »
    .col-md-6
      h2 Graphs
      p After you've entered your information, head over to the More Graphs page to see a visual representation to get a better understanding of trends in your health.
      p
        a.btn.btn-raised(href='/more_graphs', role='button') See your graphs »
    .col-md-6
      h2 ISS Tracker
      p Wondering where exactly the International Space Station is orbiting over right now? Muscle Math has you covered with its ISS tracker!
      p
        a.btn.btn-raised(href='/iss', role='button') ISS, where are you? »
    .col-md-6
      h2 Contact Us
      p Have any questions? Bugs to report? Space things to ponder? Let us know!
      p
        a.btn.btn-raised(href='/contact', role='button') Contact Us »