extends layout

//- block content
//-   .page-header
//-     h3 All Books

//-   ul
//-     for book in books
//-       li= book.name

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Log My Health

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    //- if (unknownUser)
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='weight') Weight (kg)
    .col-md-8
        input.form-control(type='text', name='weight', id='weight', autocomplete='weight', autofocus, required)
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='height') Height (cm)
    .col-md-8
        input.form-control(type='height', name='height', id='height', autocomplete='height', required)
    .form-group.row
    //- .form-group.row
    //-   label(class='col-md-2 col-form-label font-weight-bold', for='message') Something Else
    //-   .col-md-8
    //-     textarea.form-control(name='message', id='message', rows='7', autofocus=(!unknownUser).toString(), required)
    .form-group
      .offset-md-3.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | Log BMI
