extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Weight and Height Entry Form

    div
      input#txtDate(type='text' placeholder='Enter the date (yyyymmdd)')
    div
      input#txtWeight(type='text' placeholder='Enter your weight (kg)')
    div
      input#txtHeight(type='text' placeholder='Enter your height (meters)')
    div
      input#bt(type='button' value='Save data to file' onclick='saveFile()')
  script.
    let saveFile = () => {
    // Get the data from each element on the form.
    const date = document.getElementById('txtDate');
    const weight = document.getElementById('txtWeight');
    const height = document.getElementById('txtHeight');
    // This variable stores all the data.
    let data =
    date.value + ',' +
    weight.value + ',' +
    height.value + ',\n';
    // Convert the text to BLOB.
    const textToBLOB = new Blob([data], { type: 'text/plain' });
    const sFileName = 'formData.csv';	   // The file to save the data.
    let newLink = document.createElement("a");
    newLink.download = sFileName;
    if (window.webkitURL != null) {
    newLink.href = window.webkitURL.createObjectURL(textToBLOB);
    }
    else {
    newLink.href = window.URL.createObjectURL(textToBLOB);
    newLink.style.display = "none";
    document.body.appendChild(newLink);
    }
    newLink.click();
    }

  h3
     | Recent Weight Data
     | ~ August ~ 
  p#demo
    
  table(style='width:100%', border='1')
    tr  
      th Date
      th Weight
    tr
      th 01/08/20
      th 
    tr
      th 02/08/20
      th 20
  .pb-2.mt-2.mb-4.border-bottom
  h4
    | BMI Resources
  .btn-group.d-flex(role='group', style='color: #909DAF')
    a.btn.btn-primary(href='https://www.self.com/story/the-science-on-weight-and-health', target='_blank').w-100
      i.far.fa-check-square.fa-sm
      | The Science on Weight and Health
    a.btn.btn-primary(href='https://www.youtube.com/watch?list=PLiuUQ9asub3S34pyIicCQgHyFUErfpxSz&v=irCmnn5vIRQ&feature=player_embedded', target='_blank').w-100
      i.fas.fa-laptop.fa-sm
      | Exercise in Space 
    a.btn.btn-primary(href='https://www.nasa.gov/hrp/bodyinspace', target='_blank').w-100
      i.fas.fa-book.fa-sm
      | The Human Body in Space

  br
  h4
    | Examples
  p
  | View data from a Google Spreadsheet at
  a(href='https://docs.google.com/spreadsheets/d/12gm6fRAp0bC8TB2vh7sSPT3V75Ug99JaA9L0PqiWS2s/', target='_blank')
    |  URL
  p
  | Checkout more resources
  a(href='https://spreadsheets.google.com/feeds/cells/12gm6fRAp0bC8TB2vh7sSPT3V75Ug99JaA9L0PqiWS2s/1/public/full?alt=json', target='_blank')
    |  URL
  | - auth tokens required if the spreadsheet is not public
  br
  .pb-2.mt-2.mb-4.border-bottom
    h4
      | 

  
  script.
    const { google } = require("googleapis");
    const keys = require("./GoogleSheetsServiceCredentials.json");
    var receivedData = [][];

    const client = new google.auth.JWT(keys.client_email, null, keys.private_key, [
      "https://www.googleapis.com/auth/spreadsheets"
    ]);

    const gsrun = async cl => {
    const gsapi = google.sheets({ version: "v4", auth: cl });

      const opt = {
        spreadsheetId: "10jqx9YYm9hquoHYBwfIwvtpRSNnHPWzEQfyk4o_Df9Y",
        range: "Sheet1!A2:B5"
      };

      const data = await gsapi.spreadsheets.values.get(opt);
      const dataArray = data.data.values;

      return dataArray;
    };

    // main async IIFE
    (async () => {
      client.authorize(function(err, tokens) {
        if (err) {
          console.log(err);
          return;
        }
    2
        console.log("Connected");
      });

      receivedData = await gsrun(client);
      console.log(receivedData.length);
    
    })
    ();
 
    var len = receivedData.length;
      // you can use receivedData here later:
      console.log(receivedData);
      document.getElementById("demo").innerHTML = len;


  


